<div>
  <h1 class="text-center page-title">About</h1>
  <p>This is the weather application build on Angular.
    I have re-build this from the React Weather App from The Complete React Web App Developer Course.</p>
  <p>Here are some of the tools I used:</p>
  <ul>
    <li>
      <a href="https://angular.io/" target="_blank">Angular</a> - This was the JavaScript framework used.
    </li>
    <li>
      <a href="http://openweathermap.org" target="_blank">Open Weather Map</a> - I used Open Weather Map to search for weather data by city name.
    </li>
  </ul>
</div>
